table {
  /* width: 450px;
  height: 450px;*/
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td {
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 30px;
  word-break: break-all;
}

tr:nth-child(1) td:nth-child(1) {
  background-color: #daa520;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  width: 95px;
  height: 70px;
  font-size: x-large;
}

tr:nth-child(1) td:nth-child(2) {
  background-color: red;
  border-bottom: 3px solid black;
  height: 95px;
  width: 200px;

  font-size: x-large;
}

.news_feed {
  background-color: red;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  height: 250px;

  font-size: x-large;
  color: white;
}

.listOf {
  background-color: #daa520;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  font-size: x-large;
  width: 170px;
}

[rowspan="2"] {
  background-color: black;
  text-decoration: white;
  color: white;
  font-size: x-large;
  width: 90px;
}

tr:nth-child(3) td:nth-child(1) {
  background-color: #daa520;
  border-right: 3px solid black;
  font-size: x-large;
  height: 70px;
}